html,
body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: radial-gradient( #039040be, #01cd59b6);
  color: #fff;
  overflow-x: hidden;
}
#root {
  min-height: 100vh;
  display: flex;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.unsupported-network {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
}

.error {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f00;
}
input[type="radio"]{
  margin: 0 10px 0 10px;
  justify-content: center;
  align-items: center;
  
}

.landing,
.connect-wallet,
.mint-nft,
.member-page {
  
  flex-direction: column;
  
  max-width: calc(100% - 1rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  align-content: center;
  display: flex;
  text-align: center;
}

.proposal-cards {
  min-width: 250px;
  
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  margin:2%;
  align-items: center;
  
}
.box {
  display: inline-block;
  
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: 0;
  align-items: center;

}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin:2%;
  width: 0;
}
.column2 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 46%;
  margin:2%;
  justify-content: center;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border: solid;
  border-radius: 1rem;
  color: #000;
  justify-content: space-between;
  min-width: 250px;
  min-height: 300px;
  
}
.card2 {
  background-color: #fff;
  padding: 2rem;
  border: solid;
  border-radius: 1rem;
  color: #000;
  justify-content: space-evenly;
  min-width: 250px;
  min-height: 400px;
  
}

.button-and-text{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 2%;
}


.redCard {
  background-color: rgb(251, 130, 130);
  padding: 2rem;
  border-radius: 1rem;
  color: #000;
  border: solid;
}
.greenCard {
  background-color: rgb(160, 251, 130);
  padding: 2rem;
  border-radius: 1rem;
  color: #000;
  border: solid;
}
.circledLabel{
  background-color: rgb(255, 255, 255);
  color: rgb(42, 42, 42);
  border: none;
  font-weight: bold;
  font-family: inherit;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  font-size: 1.2rem;
  text-align: center;
}
.new-proposal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  text-align: left;
}

@media screen and (max-width: 768px) {
  
  .box {
    display: inline-block; 
  }
  .row {
    display: flex;
    flex-direction: row;
    

  }
  
  .column {
    display: flex;
    flex-direction: column;
    
  }
  .column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    color: #000;
    justify-content: space-between;
    width:400px;
    height:fit-content
    
  }
  .card2 {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    color: #000;
    justify-content: space-evenly;
    width:400px;
    min-height: 250px;
    
    
  }
}

.member-page form h5 {
  margin-top: 0;
  color: #00b557;
}

.member-page form .card > div {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
}

.member-page form small {
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
  margin:2%;
}


button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: bold;
  font-family: inherit;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: #121212;
}

button:focus {
  background-color: #222;
}

button:disabled {
  opacity: 0.8;
  pointer-events: none;
}

.vote-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  text-align: left;
}
